body {
font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Tahoma";
  letter-spacing: 5px;
}

footer{
background-color: teal;
height:50px;
width:auto;
padding-top: 20px;
text-align:center;


}



@media only screen and (max-width: 767px) {
    nav {
        display:flex;
        flex-direction:column;
        
        
    }


    @media only screen and (min-width: 900px) {
        nav {
            display:flex;
            flex-direction:row;